<?xml version='1.0'?>
<config xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'>
	<preference for='Beverage\Milkman\Api\Data\MilkmanInterface' type='Beverage\Milkman\Model\Milkman' />
	<virtualType name='Beverage\Milkman\Model\ResourceModel\Milkman\Milkman\Collection' type='Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult'>
		<arguments>
			<argument name='mainTable' xsi:type='string'>milkman_zipcode</argument>
			<argument name='resourceModel' xsi:type='string'>Beverage\Milkman\Model\ResourceModel\Milkman</argument>
		</arguments>
	</virtualType>
	<type name='Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory'>
		<arguments>
			<argument name='collections' xsi:type='array'>
				<item name='milkman_record_grid_list_data_source' xsi:type='string'>Beverage\Milkman\Model\ResourceModel\Milkman\Milkman\Collection</item>
			</argument>
		</arguments>
	</type>
	<type name='Beverage\Milkman\Logger\Handler'>
		<arguments>
			<argument name='filesystem' xsi:type='object'>Magento\Framework\Filesystem\Driver\File</argument>
		</arguments>
	</type>
	<type name='Beverage\Milkman\Logger\Logger'>
		<arguments>
			<argument name='name' xsi:type='string'>customLogHandler</argument>
			<argument name='handlers'  xsi:type='array'>
				<item name='system' xsi:type='object'>Beverage\Milkman\Logger\Handler</item>
			</argument>
		</arguments>
	</type>
</config>
