<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Backend:etc/menu.xsd'
>
	<menu>
		<add
			id='Beverage_Milkman::manager'
			module='Beverage_Milkman'
			resource='Beverage_Milkman::manager'
			sortOrder='30'
			title='Milkman Manager'
		/>
		<add
			action='milkman/milkman'
			id='Beverage_Milkman::add_row'
			module='Beverage_Milkman'
			parent='Beverage_Milkman::manager'
			resource='Beverage_Milkman::add_row'
			sortOrder='40'
			title='Milkman Manager'
		/>
	</menu>
</config>